html {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    min-height: 100%;
}

html, body {
    padding: 0;
    margin: 0;
}

header {
    height: 0;
}

.container {
    width: 80%;
    margin: auto;
}

/* Rouded Image */
.rounded-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        transition: scale .5s ease;

        &:hover {
            scale: 1.1;
        }
    }
}

/* Cards */
.card {

}

/* Home page */
.home {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    > .a4 {
        margin: 50px 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 50px;
        flex-wrap: wrap;
    
        .card {
            cursor: pointer;
            position: relative;

            .name {
                position: absolute;
                left: 50%;
                top: 100%;
                transform: translate(-50%, -100%);
                color: white;
                opacity: 0;
                transition: all .5s ease-in-out;
                z-index: -1;
            }

            &:has(.rounded-image img:hover) .name {
                transform: translate(-50%, 10%);
                opacity: 1;
            }
        }
    }
}

@keyframes roll {
    0%   {rotate: 0;}
    100% {rotate: 360deg;}
}

/* Arnaud */
.arnaud {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    > * {
        margin: auto
    }
}