html {
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  min-height: 100%;
}

html, body {
  padding: 0;
  margin: 0;
}

header {
  height: 0;
}

.container {
  width: 80%;
  margin: auto;
}

/* Rouded Image */
.rounded-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.rounded-image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  transition: scale .5s ease;
}

.rounded-image img:hover {
  scale: 1.1;
}

/* Cards */
/* Home page */
.home {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home > .a4 {
  margin: 50px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  flex-wrap: wrap;
}

.home > .a4 .card {
  cursor: pointer;
}

/* Arnaud */
.arnaud {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
}

.arnaud > * {
  margin: auto;
}
